<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.codeandroid.hazewatch"
    android:versionCode="5"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
	
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="me.ebernie.mapi.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.ebernie.mapi.dashclock.DashClockSettings"
            android:label="@string/dashclock_settings"
            android:exported="true"
            />

        <service android:name="me.ebernie.mapi.dashclock.MapiExtension"
            android:icon="@drawable/hazeicon"
            android:label="@string/hazewatch"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>
            <meta-data android:name="protocolVersion" android:value="2" />
            <meta-data android:name="worldReadable" android:value="true" />
            <meta-data android:name="description"
                android:value="@string/dashclock_desc" />
            <meta-data android:name="settingsActivity"
                android:value="me.ebernie.mapi.dashclock.DashClockSettings" />
        </service>

    </application>

</manifest>